<div>
    <div class="footer-bg p-3">
        <div class="mb-3">
            <img [src]="this.facebookIcon" class="social-icon-footer">
            <img [src]="this.instagramIcon" class="social-icon-footer">
            <img [src]="this.twitterIcon" class="social-icon-footer">
            <img [src]="this.youtubeIcon" class="social-icon-footer">
            <img [src]="this.behanceIcon" class="social-icon-footer">
        </div>
        <div>
            @ 2022 by 8H10N_AH.Proudly created by Jyoti Namdeo.
        </div>
    </div>
</div>