@import '../../../styles.scss';
@import '../../shared/styles/common-styles.scss';
.footer-bg {
    @extend .half-transparent;
    width: 100%;
    text-align: center;
}

.social-icon-footer {
    width: $u-30;
    height: $u-30;
    margin-right: $u-10;
}