@import '../../../styles.scss';
@import '../../shared/styles/common-styles.scss';
@import '../../wrapper/wrapper.component.scss';
.site-logo {
    position: fixed;
    top: $u-6;
    z-index: 500;
    width: 14rem;
}

//////close-icon
.close-icon {
    position: fixed;
    color: #000;
    z-index: 999;
    top: $u-6;
    right: $u-25;
    font-size: $u-35;
    line-height: $u-35;
    padding: $u-13;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.close-icon:hover {
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.navbar-header {
    height: 6rem !important;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9;
}

.social-section {
    background-color: transparent;
    position: fixed;
    right: 6rem;
    top: $u-33;
    z-index: 500;
    cursor: pointer;
}