<div class="navbar-header">
    <!-- Navbar content -->
    <div>
        <div>
            <img [src]="siteLogo" class="site-logo">
        </div>

        <!-- <div class="social-section">
            <img [src]="this.facebookIcon" class="social-icon">
            <img [src]="this.instagramIcon" class="social-icon">
            <img [src]="this.twitterIcon" class="social-icon">
            <img [src]="this.youtubeIcon" class="social-icon">
        </div> -->

        <div class="close-icon" (click)="closePage()">&#10006;</div>

    </div>
</div>