<div class="wrapper">
    <!-- <navbar (closePageEvent)="closePageEvent()"></navbar> -->
    <div class="comp-section ">
        <h3 class="page-heading">ABOUT</h3>

        <div class="row noMarPad about-container">
            <div class="col-md-6 col-xs-12 pt-4">

                <div style="float: right;">
                    <h2>
                        HELLO
                    </h2>
                    <h3>I'M HARISH NAMDEO</h3>
                    <p>A Self Learnt Sketcher<br> Based on Indore ,India</p>
                </div>

            </div>
            <div class="col-md-6 col-xs-12 pt-4">

                <div style="float: left;">

                    <img [src]="selfImage" alt="self logo" class="self-image">
                </div>

            </div>

        </div>
    </div>

</div>