<div class="wrapper">

    <div class="comp-section">

        <div class=" row contact-section">

            <!-- <div>
                <span>
                 ADDRESS
                </span><br>
                <span>120 K St, Second Floor
                 Sacramento</span>
                <span>
                  CA 95814</span>
            </div> -->
            <div style="text-align: center;">
                <span>
                    <h3>
                        CONTACT
                    </h3>
                  
                   </span><br>
                <span>
                    <h3>
                        9479665203
                    </h3>
                       <br>
                   </span>
                <span>
                    <h3>
                        harishnamdeo.namdeo90@gmail.com

                    </h3>
                       <br>
                </span>
            </div>
            <!-- <div>
                <span>
                    FOLLOW US
                   </span><br>
                <span>120 K St, Second Floor
                    Sacramento
                     CA 95814</span>
            </div> -->

        </div>
    </div>
</div>