@import '../../styles.scss';
@import '../shared/styles/common-styles.scss';
.contact-section {
    display: flex;
    justify-content: center;
    padding: 0 $u-20;
}

// .contact-section div {
//     padding: 20px;
// }
.contact-blocks {
    border-radius: $u-10;
    height: 31.25rem;
    padding: $u-20;
    margin: $u-10 0;
    box-shadow: 0.3px 0px 10.2px 4.2px rgba(0, 0, 0, 0.2);
}

#contact-banner {
    width: 100%;
    height: 100%;
}

#send-btn {
    color: white;
    border-radius: $u-20;
    background-color: rgb(115, 243, 170);
    margin-top: $u-50;
}

.social-wrapper {
    display: flex;
}

.contact-title {
    text-align: center;
    margin-bottom: 4.0625rem;
}