<div class="wrapper">
    <div class="comp-section">
        <h3 class="page-heading">CONTACT</h3>
        <div class=" row contact-section">
            <div class="col-md-4 col-xs-12">
                <div class="contact-blocks">

                    <div class="social-icon-block">
                        <div class="social-wrapper"><img [src]="this.phoneIcon" class="social-icon"><span>+91-9479665203</span></div>
                        <div class="social-wrapper"><img [src]="this.gmailIcon" class="social-icon">canvasfascinate@gmail.com</div>
                        <div class="social-wrapper">
                            <a href="https://www.facebook.com/Harry8h10n" class="social-wrapper"><img [src]="this.facebookIcon" class="social-icon">Draw The Imagination 8H10N</a>
                        </div>
                        <div class="social-wrapper">
                            <a href="https://www.instagram.com/8h10n_ah/" class="social-wrapper"><img [src]="this.instagramIcon" class="social-icon">https://www.instagram.com/8h10n_ah/</a>
                        </div>
                        <div class="social-wrapper">
                            <a href="#" class="social-wrapper"><img [src]="this.twitterIcon" class="social-icon">canvasfascinate@gmail.com</a>
                        </div>
                        <div class="social-wrapper">
                            <a href="#" class="social-wrapper"><img [src]="this.behanceIcon" class="social-icon">canvasfascinate@gmail.com</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-xs-12 ">
                <div class=" contact-blocks">
                    <img [src]="CONTACT_VIDEO" id="contact-banner">
                </div>
            </div>
            <div class="col-md-4 col-xs-12 ">
                <div class=" contact-blocks">
                    <h3 class="contact-title">Get In Touch</h3>
                    <div class="form-group">
                        <!-- <label>Name</label> -->
                        <input type="text" class="form-control" placeholder="YOuR nAmE">
                    </div>
                    <div class="form-group">
                        <!-- <label>Email Address</label> -->
                        <input type="email" class="form-control" placeholder="YOuR eMaiL">
                    </div>
                    <div class="form-group">
                        <!-- <label>Contact Number</label> -->
                        <input type="number" class="form-control" placeholder="YOuR nUmBeR">
                    </div>
                    <div class="form-group">
                        <!-- <label></label> -->
                        <textarea placeholder="LEave YOuR meSsAGe" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <button class=" form-control btn  " id="send-btn">SEND</button>
                    </div>

                </div>
            </div>

            <!-- <div style="text-align: center;">
                <span>
                    <h3>
                        CONTACT
                    </h3>
                  
                   </span><br>
                <span>
                    <h3>
                        9479665203
                    </h3>
                       <br>
                   </span>
                <span>
                    <h3>
                        harishnamdeo.namdeo90@gmail.com

                    </h3>
                       <br>
                </span>
            </div> -->


        </div>
    </div>
</div>