.half-transparent {
    background-color: #fefefe;
    color: grey;
}

// .wrapper {
//     // height: 100vh;
//     display: grid;
//     grid-template-rows: 70px 1fr 70px;
// }
// .comp-section {
//     // flex: 1;
//     overflow-y: auto;
//     background-color: greenyellow;
// }
.big-bg {
    width: 100%;
    height: 300px;
}