@import '../styles/px-units.styles.scss';
.font-60 {
    font-size: 60px;
    word-spacing: 9999px;
}

.font-10 {
    font-size: $u-10;
}

.font-11 {
    font-size: $u-11;
}

.font-12 {
    font-size: $u-12;
}

.font-13 {
    font-size: $u-13;
}

.font-14 {
    font-size: $u-14;
}

.font-15 {
    font-size: $u-15;
}

.font-16 {
    font-size: $u-16;
}

.font-18 {
    font-size: $u-18;
}

.font-19 {
    font-size: $u-19;
}

.font-20 {
    font-size: $u-20;
}

.font-24 {
    font-size: $u-24;
}