/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import './app/shared/styles/color-variables.styles.scss';
@import './app/shared/styles/font.styles.scss';
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff !important;
}

.half-transparent {
    background-color: #fefefe;
    color: grey;
}

.wrapper {
    min-height: 420px;
}

.comp-section {
    // overflow-y: auto;
}

.green-bg {
    background-color: $bg-seagreen;
}

.noMarPad {
    margin: 0 !important;
    padding: 0 !important;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
}